.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.card:hover {
  -webkit-box-shadow: -5px 4px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 4px 6px 0px rgba(0,0,0,0.75);
  box-shadow: -5px 4px 6px 0px rgba(0,0,0,0.75);
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap; 
    overflow: auto;
  }

  .flex-item {
    flex: 0 0 auto;
  }
  
  /* .background-img {
    background-image: url('./assets/projekt_framsteg.png');
  } */

